{% extends "rcstats_base.html" %}

{% block title %}
{{ official_class_name.raceclass }}
{% endblock %}

{% block description %}
King of the Hill for {{ official_class_name.raceclass }}
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 well">
      <a href="{% url 'koh-summary' track_id=track.id %}">
        <h3>King of the Hill {{ track.name }}</h3>
      </a>
      <p>Updated after every race!
      <br/>
      Only considering races since {{ start_time | date:'Y-m-d' }}</p>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Explain</button>
      <br/><br/>
      <div id="demo" class="collapse">
      <div class="alert alert-info" role="alert">
        <h4>Where do these numbers come from?</h4>
        <p>Every single race counts for the same amount of points.
        Qualifiers and main events count exactly the same here.
        <br/>
        Each individual race is worth at most 20 points: 
        <ul>
          <li>1st place gets 20 points</li>
          <li>2nd gets 19 points</li>
          <li>3rd gets 18 points</li>
          <li>4rd gets 17 points</li>
        </ul>
        <br/>
        Then we sum up all your points for the last two weeks.
        Is this the most "fair" way to rank? No... but it is simple and rewards frequenly racing.
        </p>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 well">
      <h3>{{ official_class_name.raceclass }}</h3>
      <p>Currently tracking {{ koh_summarys|length }} racers.</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        {% for koh_summary in koh_summarys %}
          <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a href="{% url 'single_racer' track_id=track.id racer_id=koh_summary.racer__id %}">
            {{ koh_summary.racer__racerpreferredname }}
            </a>
          </td>
          <td>{{ koh_summary.score }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
