{% extends "rcstats_base.html" %}

{% block title %}
Racers
{% endblock %}

{% block description %}
{{ track.name }} Racer List
{% endblock %}

{% block stylesheet %}
{% endblock %}


{% block content %}

<div class="container well">
  <h3>{{ track.name }}</h3>
  <div class="alert alert-info" role="alert">
    <button class="btn btn-primary disabled" type="button">
      First Race <span class="badge">{{ tracks_first_race.racedate | date:'Y-m' }}</span>
     </button>
    <button class="btn btn-primary disabled" type="button">
      Races <span class="badge">{{ track_race_count }}</span>
    </button>
    <button class="btn btn-primary disabled" type="button">
      Racers <span class="badge">{{ racer_and_counts | length }}</span>
    </button>
  </div>
  
  <!-- Primary table to list all of the racers -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="hidden">id</th>
        <th>Name</th>
        <th>RaceCount</th>
      </tr>
    </thead>
    <tbody>
    {% for racer in racer_and_counts %}
      <tr>
      <th class="hidden">{{ racer.racer }}</th>
      <td>
        <a href="{% url 'single_racer' track_id=track.id racer_id=racer.racer %}">
        {{ racer.racer__racerpreferredname }}
        </a>
      </td>
      <td>{{ racer.racer_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </br>
</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
