{% extends "rcstats_base.html" %}

{% block title %}
{{ racer.racerpreferredname }}
{% endblock %}

{% block description %}
{{ track.name }} Results for {{ racer.racerpreferredname }}
{% endblock %}

{% block stylesheet %}
{% endblock %}


{% block content %}
<div class="container well">
  <h3>
    <a href="{% url 'single_racer' track_id=track.id racer_id=racer.id %}">
      {{ racer.racerpreferredname }}
    </a>
  </h3>
  <h4>
    <a href="{% url 'racer-list-by-track' track_id=track.id %}">
      {{ track.name }}
    </a>
  </h4>
  
  <h3>Race Results</h3>
  <div class="panel panel-info">

      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Finish</th>
            <th>Race</th>
            <th>Stats</th>
          </tr>
        </thead>
        <tbody>
          {% for race in races %}
          <tr>
            <td>
              <a href="{% url 'results-singleracedetail' single_race_detail_id=race.raceid.id %}">
                <h3>
                {% if race.finalpos == 1 %}
                  <span class="label label-success">{{ race.finalpos }}</span>
                {% elif race.finalpos == 2 %}
                  <span class="label label-info">{{ race.finalpos }}</span>
                {% else %}
                  <span class="label label-warning">{{ race.finalpos }}</span>
                {% endif %}
                </h3>
              </a>
            </td>
            <td>
              <a href="{% url 'results-singleracedetail' single_race_detail_id=race.raceid.id %}">
              {{ race.raceid.racedata }} 
              {% if race.raceid.maineventparsed %}{{race.raceid.maineventparsed}}{% endif %}
              </a>
            </td>
            <td>
              {{ race.raceid.racedate | date:'Y-m-d'}}<br/>
              Laps:{{ race.lapcount }}<br/>
              Time:{{ race.racetime | date:"i:s"}}<br/>
              Fast:{{ race.fastlap }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
