<html lang="en">
<body>
<p>
Here are new race results you requested {{ username }}
</p>

<h3>New Race Results - {{ single_race_detail.trackkey.trackname }}</h3>

{% load tz %}
<p> Race date {{ single_race_detail.racedate |timezone:"America/Los_Angeles"}} </p>

<a href="http://{{ host }}{% url 'results-singleracedetail' single_race_detail.id %}">
{{ single_race_detail.racedata }}
{% if single_race_detail.maineventparsed %}
    {{ single_race_detail.maineventparsed }}
{% endif %}
Round: {{ single_race_detail.roundnumber }}
Race: {{ single_race_detail.racenumber }}
</a>

<!-- The main race results -->
<table>
<tr>
  <td>Pos</td>
  <td>Name</td>
  <td>Laps</td>
  <td>Time</td>
  <td>Fast</td>
</tr>

{% for result in single_race_results %}
<tr>
<td>{{ result.finalpos }}</td>
<td>
<a href="http://{{ host }}{% url 'single_racer' track_id=single_race_detail.trackkey_id racerid_id=result.racerid.id %}">
{{ result.racerid.racerpreferredname }}
</a>
</td>
<td>{{ result.lapcount }}</td>
<td>{{ result.racetime|time:"i:s" }}</td>
<td>{{ result.fastlap }}</td>
</tr>
{% endfor %}

</table>

<h2>New Updates to the Site!</h2>
<!--  Special call to action -->
<h3>
	<a href="http://{{ host }}{% url 'racer-list-by-track' track_id=single_race_detail.trackkey_id %}">
		Updated Individual Racer Stats
	</a>
</h3>
<h3>
	<a href="http://{{ host }}{% url 'koh-summary' track_id=single_race_detail.trackkey_id %}">
		King of the Hill Rankings Updated for {{ single_race_detail.racedata }}
	</a>
</h3>

</body>
</html>
