{% extends "rcstats_base.html" %}

{% block title %}
RC-Stats
{% endblock %}

{% block description %}
RC-Stats is a racing community to track and share your RC race results.
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <img class="img-responsive" src="static/img/logo.png"/>
    <p>RC Racing Community.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-5 well">
      <h2>NEW RC-Stats</h2>
      <p>
        Mobile friendly, email updates, and more social. In order to support these new goals I have undertaken a rewrite of the site.
        <br/>
        New functionality:
      </p>
      <ul>
      <li>Profile creation and login - follow your friends.</li>
      <li>Email race results directly to your inbox.</li>
      <li>Automatic race uploads, no more gaps in race coverage.</li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    {% if singleracedetail != null %}
    <div class="col-md-6 well">
      <h2>New Race in the System</h2>
      <div id="span-new-race"></div>
      <table id="table-new-race">
        <thead>
        <tr>
            <th data-field="finalpos">Pos</th>
            <th data-field="racerid">Name</th>
            <th data-field="lapcount">Laps</th>
            <th data-field="racetime">Time</th>
            <th data-field="fastlap">FastLap</th>
        </tr>
        </thead>
      </table>
   </div>
   {% endif %}
  </div>
</div>



{% endblock %}

{% block script %}

{% if singleracedetail != null %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  $.ajax({
    // Example - http://127.0.0.1:8000/api/TrackName/1/SingleRaceDetails/125/
    url: "{% url 'singleracedetail-detail' trackname=trackname.id pk=singleracedetail.id  %}",
    contentType:"application/json; charset=utf-8",
    dataType: "json",
    type: "GET"
  }).error(function(r){
    console.log(r);
  }).success(function(r){
    //console.log("success", r);

    var header = r.racedata + " " + r.maineventparsed + " Rnd:" + r.roundnumber + " Race:" + r.racenumber + " </br>" + r.racedate;
    $("#span-new-race").html(header);

    var raceresults = r.raceresults;

    // We want to clean up the times.
    racedata = _.map(raceresults, function(race) {
      // We want to trim off the zeros, example: "06:17.251000"
      if (race.racetime){
        // only trim first char if its zero.
        if (race.racetime[0] = '0'){
          race.racetime =  race.racetime.substring(1, race.racetime.length-1);
        }
        race.racetime =  race.racetime.substring(0, (race.racetime.length-1-2));
      }
      return race;
    });

    //console.log("Data for the graph:", racedata);
    $("#table-new-race").bootstrapTable({
      data: raceresults,
      header: "foo"
    });
  })
});
{% endif %}

</script>
{% endblock %}
