{% extends "rcstats_base.html" %}

{% block title %}
RC-Stats
{% endblock %}

{% block description %}
RC-Stats is a racing community to track and share your RC race results.
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <img class="img-responsive" src="static/img/logo.png"/>
    <p>RC Racing Community.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-5 well">
      <h2>NEW RC-Stats</h2>
      <p>
        Mobile friendly, email updates, and more social. In order to support these new goals I have undertaken a rewrite of the site.
        <br/>
        New functionality:
      </p>
      <ul>
      <li>Profile creation and login - follow your friends.</li>
      <li>Email race results directly to your inbox.</li>
      <li>Automatic race uploads, no more gaps in race coverage.</li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    {% if singleracedetail != null %}
    <div class="col-md-6 well">
      <h2>New Race in the System</h2>
      <div id="span-new-race-{{ singleracedetail.id }}"></div>
      <table id="table-new-race-{{ singleracedetail.id }}"></table>
   </div>
   {% endif %}

   <div class="col-md-5 well">
     <h2>{{ trackname.trackname }} Past Races</h2>
     <table id="table-all-races-{{ trackname.id }}"></table>
   </div>
  </div>
</div>

{% endblock %}

{% block script %}

{% if singleracedetail != null %}
<script src="/static/js/rcstats.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
  populateSingleRaceFromRestEndpoint("{% url 'singleracedetail-detail' trackname=trackname.id pk=singleracedetail.id  %}", {{ singleracedetail.id }});

  // We want to create a basic list of past races so they can quickly scan through them.
  $.ajax({
      // Example - http://127.0.0.1:8000/api/TrackName/1/SingleRaceDetailsSlim/
      url: "{% url 'singleracedetailslim-list' trackname=trackname.id %}",
      contentType:"application/json; charset=utf-8",
      dataType: "json",
      type: "GET"
    }).error(function(r){
      console.log(r);
    }).success(function(raceData){
      //console.log("success", raceData);

      // TODO - probably want to handle this farther upstream.
      raceData.reverse();

      // We want to clean up the times.
      var raceDataFormated = _.map(raceData, function(race) {
        var racedate = moment(race.racedate);
        var formatedRace = "";
        racedate.local();
        // Reference - http://momentjs.com/docs/#/displaying/
        formatedDate = racedate.format("dddd MMM Do YYYY h:mm a");
        race.racedate = formatedDate;
        return race;
      });

      //console.log("Data for the graph:", raceData);
      $("#table-all-races-" + {{ trackname.id }}).bootstrapTable({
        data: raceData,
        pagination: "true",
        onClickRow: function (row) {
            console.log('Event: onClickRow, data: ' + JSON.stringify(row));
            window.location.href = "{% url 'results-singleracedetail' '1111111' %}".replace("1111111", row.id)
        },
        columns: [{
            field: "id",
            title: "",
            visible: false
        }, {
            field: "racedata",
            title: "Class"
        }, {
            field: "roundnumber",
            title: "Rnd"
        }, {
            field: "racenumber",
            title: "Race"
        }, {
            field: "racedate",
            title: "Date"
        }, {
            field: "racelength",
            title: "Len"
        }]
      });
    })
});
</script>
{% endif %}

{% endblock %}
