{% extends "rcstats_base.html" %}

{% block title %}
Results
{% endblock %}

{% block description %}
Single race results for {{ singleracedetail.racedata }} {{ singleracedetail.maineventparsed}}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <img class="img-responsive" src="/static/img/logo.png"/>
    <h3>{{ trackname.trackname }}</h3>
  </div>
</div>

<div class="container well">
  <h2>{{ singleracedetail.racedata }} {{ singleracedetail.maineventparsed}}</h2>
  <div id="span-new-race-{{ singleracedetail.id }}"></div>
  <table id="table-new-race-{{ singleracedetail.id }}"></table>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/rcstats.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
    populateSingleRaceFromRestEndpoint("{% url 'singleracedetail-detail' trackname=trackname.id pk=singleracedetail.id  %}", {{ singleracedetail.id }});
});
</script>
{% endblock %}
