{% extends "rcstats_base.html" %}

{% block title %}
Results
{% endblock %}

{% block description %}
Single race results for {{ singleracedetail.racedata }} {{ singleracedetail.maineventparsed }}
{% endblock %}

{% block content %}
<div class="container well">
  <!-- The race results table -->
  <h3>{{ singleracedetail.racedata }} {{ singleracedetail.maineventparsed}}</h3>
  <h4>{{ trackname.trackname }}</h4>
  <div id="span-new-race-{{ singleracedetail.id }}"></div>
  <table id="table-new-race-{{ singleracedetail.id }}"></table>
</div>

<div class="container well">
  <!-- The lap times table -->
  <h2>Lap Times</h2>

  <div class="btn-group" role="group" aria-label="Racer list by final position">
    {% for result in raceresults %}
    <button type="button" id="{{ result.racer.id }}" class="fetchlapTimeSeries btn btn-secondary">
      {{ forloop.counter }}
    </button>
    {% endfor %}
  </div>

  <div class="page-header">
    <h3>
      <div class="label label-default" id="span-racer-desc-{{ singleracedetail.id }}"></div>
    </h3>
  </div>

  <table id="table-race-laps-{{ singleracedetail.id }}"></table>
</div>

<div class="container well">
  <!-- The flot laptime graph -->
  <h2>Graph Laptimes</h2>
  <div id="laptimegraph_placeholder" style="height:300px;"></div>

  <br/>
  {% for result in raceresults %}
  <button id="{{ result.racer.id }}" class="fetchSeries btn btn-block">
    {{ result.racer.racerpreferredname }}
  </button>
  {% endfor %}
</div>

{% endblock %}

{% block script %}
<script src="/static/js/rcstats.js"></script>

<!--
Just for the laptime graph
TODO - refactor this once it starts working
 -->
<script src="/static/js/jquery.flot.min.js"></script>
<script src="/static/js/jquery.flot.resize.min.js"></script>

<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
    populateSingleRaceFromRestEndpoint("{% url 'singleracedetailsbytrack-detail' trackname=trackname.id pk=singleracedetail.id  %}", {{ singleracedetail.id }});
});

// ************************************************************************
// Construct the flot graph to show lap times by racer.
// TODO - refactor this once it starts working
// ************************************************************************
$(document).ready(function(){

  var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { tickDecimals: 0, tickSize: 1, font: { size: 8,  weight: "bold", variant: "small-caps"} },
    // TODO - I want to dynamically set this to trim the outliers
    //yaxis: { min: 15, max: 18 },
    legend: { labelFormatter: null }
  };

  var data = [];
  // Hold all the laptime data, we will bring down in a single call.
  var completeData = [];
  // Fetch one series, adding to what we already have
  var alreadyFetched = {};

  $("button.fetchSeries").click(function () {
    // TODO - it would be nice to record how often users click these buttons
    var button = $(this);
    var racer = parseInt(button.attr("id"));
    var newFlotLaps = {
      label: '', // We are going to hide the labels and use the buttons to tell which active.
      data: []
    };

    if (!alreadyFetched[racer]) {
      // TODO - this is widly ineficient, but it got the prototype running.
      //    This pushes all the work to the client to iterate all the laps many times.
      button.addClass('btn-success');

      var goodlaps = _.filter(completeData, function(laptime) { return laptime.racer == racer && laptime.racelap > 0; });

      newFlotLaps.data = _.map(goodlaps, function(laptime) { return [laptime.racelap + 1, laptime.racelaptime] });

      alreadyFetched[racer] = newFlotLaps;
      data.push(newFlotLaps);
    }
    else {
      // De-select the racer when they toggle the button.
      button.removeClass('btn-success');

      delete alreadyFetched[racer];
      console.log("remove lap data for ", racer);

      data = [];
      _.each(alreadyFetched, function(fetched) {
          data.push(fetched);
      });
    }

    $.plot("#laptimegraph_placeholder", data, options);
  });

  function retreiveCompleteLapTimesData() {

    function onDataReceived(series) {
      completeData = series;
      // WARNING - going to click the first racer to set some starting values
      $("button.fetchSeries:first").click();
    };

    $.ajax({
      //'http://127.0.0.1:8000/api/TrackName/1/SingleRaceDetails/865/LapTimes/',
      url: "{% url 'laptimes-list' trackname=trackname.id singleracedetails=singleracedetail.id  %}",
      contentType:"application/json; charset=utf-8",
      type: "GET",
      dataType: "json",
      success: onDataReceived
    });
  };

  retreiveCompleteLapTimesData();
  //We are going to rely on the default first button click to plot
  //$.plot("#laptimegraph_placeholder", data, options);

});


// ************************************************************************
// Javascript for showing a table of a single racer's laptimes
// ************************************************************************
$(document).ready(function() {

  /* This is the object that I have to deal with
  {
    "id": 107953,
    "raceid": 865,
    "racer": 74,
    "racelap": 0,
    "raceposition": 9,
    "racelaptime": "12.060"
  },
  */

  var lapByRacer = {};
  // I don't have a better plan right now than to drop this in via the template
  var racerToName = {
    {% for result in raceresults %}{{ result.racer.id }}:"{{ result.racer.racerpreferredname }}",
    {% endfor %}
  };

  $("button.fetchlapTimeSeries").click(function () {
    var button = $(this);
    var racer = parseInt(button.attr("id"));

    //console.log(lapByRacer[racer]);

    var racerpreferredname = racerToName[racer];

    // I have the full result object, so I could display more stuff here, I
    // just don't have a good plan on how to format/organize it all and it
    // is just extra sugar for the feature at this stage.
    var header = racerpreferredname;
    $("#span-racer-desc-" + {{ singleracedetail.id }}).html(header);
    $("#table-race-laps-" + {{ singleracedetail.id }}).bootstrapTable("load", lapByRacer[racer]);
  });

  function retrieveLapTimeDataHack() {
    function onDataReceivedHack(series) {
      buildLapByRacer(series);
    };

    $.ajax({
      //'http://127.0.0.1:8000/api/TrackName/1/SingleRaceDetails/865/LapTimes/',
      url: "{% url 'laptimes-list' trackname=trackname.id singleracedetails=singleracedetail.id  %}",
      contentType:"application/json; charset=utf-8",
      type: "GET",
      dataType: "json",
      success: onDataReceivedHack
    });
  };

  function buildLapByRacer(completeLapTimeData) {
    //console.log(completeLapTimeData);

    _.each(completeLapTimeData, function(rawLapTime) {
      rawLapTime.racelap = rawLapTime.racelap + 1;
      if (lapByRacer[rawLapTime.racer] == null) {
        lapByRacer[rawLapTime.racer] = [rawLapTime];
      }
      else {
        lapByRacer[rawLapTime.racer].push(rawLapTime);
      }
    });
    // WARNING - going to click the first racer to set some starting values
    $("button.fetchlapTimeSeries:first").click();
  };

  function buildLapTable() {
    $("#table-race-laps-" + {{ singleracedetail.id }}).bootstrapTable({
      data: [],
      sortName: 'racelap',
      columns: [{
          field: 'racelap',
          title: 'Lap'
      }, {
          field: 'racelaptime',
          title: 'Time'
      }, {
          field: 'raceposition',
          title: 'Position'
      }]
    });
  };

  retrieveLapTimeDataHack();
  buildLapTable();
});

</script>
{% endblock %}
