{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}

{% block userena_content_title %}
  <h2>
    <img class="img-rounded" src="{{ user.my_profile.get_mugshot_url }}" width="40" />
    {{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}
  </h2>
{% endblock %}

{% block userena_content %}
    {% block profile_navigation %}
      {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
      {% if user.username == profile.user.username %}
          {% block profile_navigation_items %}
          <div class="btn-group">
            <a type="button" class="btn btn-primary active" href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a>
            <a type="button" class="btn btn-primary" href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a>
            <a type="button" class="btn btn-primary" href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
            <a type="button" class="btn btn-primary" href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a>
            <a type="button" class="btn btn-primary" href="{% url 'race-emails' %}">{% trans "Email Notification" %}</a>
          </div>
          {% endblock %}
      {% endif %}
    {% endblock %}
  <br/>
  <div id="details">
    {% block profile_details %}
        {% block profile_definition_list %}
          
          {% if profile.user.get_full_name %}
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "Name" %}</div>
              <div class="panel-body">{{ profile.user.get_full_name }}</div>
            </div>
          {% endif %}

          {% if profile.user.email and not hide_email %}
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "Email" %}</div>
              <div class="panel-body">{{ profile.user.email }}</div>
            </div>
          {% endif %}

          {% if profile.age %}
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "Age" %}</div>
              <div class="panel-body">R{{ profile.age }}</div>
            </div>
          {% endif %}

          {% if profile.website %}
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "Website" %}</div>
              <div class="panel-body">{{ profile.website|urlize }}</div>
            </div>
          {% endif %}

          {% if profile.location %}
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "Location" %}</div>
              <div class="panel-body">{{ profile.location }}</div>
            </div>
          {% endif %}

          {% if profile.about_me %}
            <div class="panel panel-default">
              <div class="panel-heading">{% trans "About me" %}</div>
              <div class="panel-body">{{ profile.about_me }}</div>
            </div>
          {% endif %}
        {% endblock %}

    {% endblock %}
  </div>

    <div class="col-md-12 well">
      <h2>Race Results in Your Inbox</h2>
      <p>Select the classes you want to follow.</p>
      <a type="button" href="{% url 'race-emails' %}" class="btn btn-success">
        Pick a Class
      </a>
    </div>
{% endblock %}
