    {% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block userena_content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signup" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }} 
    {{ field }}
    </p>
    {% endif %}
    {{ field.errors }}
    {% endfor %}
  </fieldset>
  <input type="submit" class="btn btn-primary" value="{% trans "Signup"%}" />
</form>

</br>
<div class="alert alert-success" role="alert">
  <p>Your email is needed so that you can receive race results.</p>
</div>
{% endblock %}
